<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="chrome">
  <parameter name="browser" value="Chrome"/>
    <classes>
      <class name="kaveri.SignUPTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="FireFox">
  <parameter name="browser" value="FireFox"/>
    <classes>
      <class name="kaveri.SignUPTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
